
<input type="checkbox" id="check">
<label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
<div class="sidebar">
	<header>My App</header>
	<ul>
		<li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
		<li><a href="#"><i class="fas fa-link"></i>Shortcuts</a></li>
		<li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
		<li><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
		<li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
		<li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
		<li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
	</ul>
</div>

<section>
  	<div class="container">
					<div class="w3l-space-banner">
						<div class="carousel-caption p-lg-5 p-sm-4 p-3">
					<P>	<span>ELECTRO STORE</span></P>
							<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">WELCOME
								<span>MANAGER</span> SHOP
							</h3>
							<button class="button2" id="btn">Bắt Đầu Kiếm tiền</button>
						</div>
					</div>
				</div>
</section>